* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
#form {
  top: 60px;
  left: 60vw;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  background-color: #4d59a1;
  height: 570px;
  width: 610px;
  padding: 10px;
  text-align: center;
  margin: 0;
}
#form input {
  margin-bottom: -45px;
  height: 58px;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.form-head {
  margin-left: 27%;
  margin-top: 20px;
  margin-bottom: 0;
  color: white;
  font-size: 67px;
  font-weight: bold;
  text-align: center;
}
#input-email {
  width: 472px;
  height: 58px;
  margin-left: 55px;
}
#company-name,
#subject-name {
  width: 225px;
}
#company-name {
  margin-left: 55px;
  margin-right: 19px;
}
#messages {
  margin-left: 55px;
  width: 472px;
  height: 97px !important;
}
#map {
  position: relative;
}
.btn {
  width: 267px;
  height: 76px;
  border: none;
  background-color: #c3f37f;
  border-radius: 60px;
  color: white;
  font-weight: bold;
  margin-left: 26%;
}
