@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), local('Arvo-Regular'),
  url(https://allfont.ru/cache/fonts/arvo_b1fdfe21708d7c470c3a4ef8bb7a0963.woff) format('woff'),
  url(https://allfont.ru/cache/fonts/arvo_b1fdfe21708d7c470c3a4ef8bb7a0963.ttf) format('truetype');
}

body {
  font-family: 'Arvo', arial;
  color: #3b3f6a;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-head {
  font-size: 22px;
}

.text-description {
  font-size: 20px;
}

.header {
  font-size: 30px;
  padding-bottom: 80px;
  padding-top: 20px;
}

