
@import url(https://allfont.ru/allfont.css?fonts=arvo);
body {
  font-family: 'Arvo', arial;
  color: #3b3f6a;
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-head {
  font-size: 22px;
}

.text-description {
  font-size: 20px;
}

.header {
  font-size: 30px;
  padding-bottom: 80px;
  padding-top: 20px;
}

