.main-fon {
  background: url("../img/fon.jpg") no-repeat;
  background-size: 100%;
  height: 1200px;
}
.img {
  background: url("../img/creslo.png") no-repeat;
  margin-left: 127px;
  width: 503px;
  height: 717px;
  margin-top: 110px;
}
.container {
  width: 1670px !important;
}
.row {
  margin-top: 120px;
  width: 100%;
  height: 942px;
  background-color: white;
}
.row h2 {
  font-size: 48px;
}
.row h3 {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: normal;
}
.row h4 {
  font-size: 82px;
  color: #f5bf2e;
}
.row p {
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 30px;
}
.text {
  margin-top: 110px;
  margin-left: 150px;
}
.star {
  display: flex;
}
button {
  width: 90px;
  height: 30px;
  background-color: yellow;
  text-decoration: none;
  color: black;
}
.plus,
.minus {
  font-size: 50px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 30px;
  padding-left: 17px;
  cursor: pointer;
}
.minus {
  padding-left: 20px;
  padding-top: -10px;
}
.number-of-order {
  margin-right: 30px;
  margin-top: 15px;
  font-size: 30px;
}
i.fa {
  margin-top: 43px;
  color: #f5bf2e;
  font-size: 30px;
}
.stars {
  margin-left: 50px;
}
.col-xs-8 {
  padding-left: 70px;
}
.main-oder {
  display: flex;
}
button {
  margin-top: 60px;
  width: 408px;
  height: 101px;
  background-color: #f5bf2e;
  border: none;
  border-radius: 50px;
}
a {
  color: white;
  font-size: 30px;
}
a:hover {
  text-decoration: none;
  color: white;
}
