* {
  margin: 0;
  padding: 0;
}
.main {
  padding-top: 40px;
  margin-bottom: 70px;
  height: 850px;
  width: 100vw;
  background: url("../img/bg.jpg") no-repeat;
}
.main h3,
.main p,
.main h2 {
  text-align: center;
  color: white;
}
.main h1 {
  text-align: center !important;
  color: #ffff33;
  margin-bottom: 30px;
  margin-top: 30px;
}
.main h2 {
  margin-top: 2vw;
  font-size: 25px;
}
.main .zaim h3,
.main p {
  text-align: left;
  margin-left: -3vw;
}
.main h4 {
  margin-top: 7vw;
  color: white;
  font-size: 20px;
  line-height: 1.5em;
}
.main img {
  margin-top: 2vw;
}
.main button.button1 {
  color: white;
  cursor: pointer;
  width: 163px;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  background: none;
  margin-top: 25px;
  margin-right: -10vw;
}
@media (max-width: 540px) and (max-width: 1000px) {
  .main h1 {
    font-size: 6vw;
    text-align: center !important;
  }
  .main h3,
  .main p {
    text-align: left !important;
    margin: 0;
  }
  .main h4 {
    margin-top: 5vw;
  }
}
.main .money {
  display: none;
}
.form {
  border: 1px solid lightgrey;
  display: flex;
  flex-wrap: wrap;
  width: 417px;
  height: 413px;
  color: black;
  text-align: center;
  background-color: white;
  padding: 44px;
  margin-left: 5vw;
}
.form h3 {
  color: black !important;
  margin: 0 0 25px;
  font-size: 22px;
}
.form input,
.form button {
  width: 321px;
  height: 59px;
  border-radius: 8px;
  font-size: 15px;
}
.form button {
  background-color: #ffff33;
  color: black;
  box-shadow: 0 5px 5px #999900;
}
.second {
  margin-top: -50px;
  font-size: 18px;
  text-align: center;
}
.second .row {
  margin-bottom: 35px;
}
